<nav class="navbar navbar-expand-lg navbar-dark bg-light py-2 px-4">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="images/StreakChain.png" alt="StreakChain Logo" height="40" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="ti ti-menu-2 text-dark"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        @if(user()?.is_authenticated) {
        <li class="nav-item pointer dropdown px-4 user-dropdown">
          <a
            class="text-decoration-none user-name py-0 my-0"
            type="button"
            data-bs-toggle="dropdown"
          >
            <i class="ti ti-user-circle me-2 user-icon"></i> {{ user()?.firstname }}
            {{ user()?.lastname }}
          </a>
          <ul class="dropdown-menu mt-2">
            <li (click)="logout()"><a class="dropdown-item">Logout</a></li>
          </ul>
        </li>
        } @else {
        <li>
          <button class="btn btn-primary me-0 me-md-2" routerLink="/login">
            Login
          </button>
        </li>
        <li>
          <button class="btn btn-outline-primary" routerLink="/signup">Sign Up</button>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
