.user-icon {
    font-size: 1.5rem;
    vertical-align: middle;
}

.user-name{
    color: #343a40;
    font-weight: 500;
}

@media screen and (max-width: 576px) {
    .navbar-brand {
        width: 120px;
    }

    .user-dropdown {
        margin-top: 10px;
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-bottom: 20px;
    }
}