.habit-tracker-container {
  padding: 3rem 1rem;

  @media (min-width: 768px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .add-habit-btn, .download-btn {
    font-size: 12px;
  }

  .frequency-icon {
    font-size: 1.3rem;
  }

  .frequency{
    font-size: 14px;
  }

  .month-navigation {
    text-align: center;
    margin-bottom: 1rem;

    p {
      margin: 0;

      span {
        cursor: pointer;

        &.me-2 {
          margin-right: 0.5rem;
        }

        &.ms-2 {
          margin-left: 0.5rem;
        }
      }
    }
  }

  .calendar-table {
    margin-top: 1.5rem;

    th,
    td {
      text-align: center;
    }

    th > div {
      display: flex;
      flex-direction: column;
      align-items: center;

      .fw-bold {
        font-weight: 600;
      }

      .text-muted {
        font-size: 0.75rem;
      }
    }

    tbody td:first-child + td {
      border-left: none;
    }

    .no-habits {
      text-align: center;
      color: #6f6362;
    }

    .table {
      font-size: 12px;
    }

    .no-outer-borders thead tr:first-child {
      border-top: 0 !important;
    }

    .no-outer-borders tbody tr:last-child {
      border-bottom: 0 !important;
    }

    .no-outer-borders th:first-child,
    .no-outer-borders td:first-child {
      border-left: 0 !important;
    }

    .no-outer-borders th:last-child,
    .no-outer-borders td:last-child {
      border-right: 0 !important;
    }

    .today-column {
      background-color: rgba(13, 110, 253, 0.1);
      color: #0d6efd;
    }

    .habit-column {
      width: 150px;    
      max-width: 150px;
      min-width: 150px;
      position: sticky !important;
      left: 0px;
    }

    .habit-column::before {
      content: '';
      position: absolute;
      top: 0;
      left: -20px;
      width: 20px; 
      height: 100%;
      border-width: 1px;
      pointer-events: none;
      z-index: 11;
      border:none;
      background: white !important;
    }

    .habit-column::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 5px; 
      height: 100%;
      background-color: var(--border-color, white);
      pointer-events: none;
      z-index: 11;
    }

    .habit-options {
      font-size: 16px;
      color: #6f6362;
      display: none;
    }

    tr:hover .habit-options,
    td.habit-column:hover .habit-options {
      display: inline-block;
    }


    .bg-meet{
      background-color: #aee6bd
    }
  }

}
