@use '../../../../public/styles/colors.scss' as *;

.shape-divider {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: $primary;

    svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 69px;
    }

    .shape-fill {
        fill: #FFFFFF;
    }
}

.card {
    color: #515151;

    h5 {
        color: $primary;
        margin-bottom: 15px;
        font-weight: 700;
    }

    p {
        line-height: 1.5;
    }

    img{
        margin: auto;
        padding-bottom: 20px;
        width: 180px;
    }
}

footer {
  background-color: #f8f9fa;

  .contact-info {
    font-size: 1.2rem;
    color: #515151;

    i {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 32px !important;
      height: 32px !important;
      padding: 10px !important;
      margin-right: 10px;
      background-color: $primary;
      color: #fff;
      border-radius: 50%;
      font-size: 1rem;
    }

    a {
      color: #515151;
      text-decoration: none;

      &:hover {
        color: $primary;
        text-decoration: underline;
      }
    }
  }

  h2 {
    font-weight: 700;
  }

  p {
    line-height: 1.6;
  }
}

@media (min-width: 768px){
  footer {
    .contact-info a {
      font-size: 14px;
    }
  }
}