<div
  class="container-fluid px-3 py-5 p-md-5 d-flex justify-content-center flex-column align-items-center"
>
  <h4 class="text-center pb-2">Yearly Streaks</h4>
  <div class="row mt-3">
    <div class="col-md-12">
      <p>
        <span class="me-2">
          <i class="ti ti-chevron-left pointer" (click)="incrementDecrementYear(-1)"></i>
        </span>
        {{ currentYear() }}
        <span class="ms-2">
          <i class="ti ti-chevron-right pointer" (click)="incrementDecrementYear(1)"></i>
        </span>
      </p>
    </div>
  </div>

  @if (habits()?.length !== 0) {
    <div class="row mt-4 mt-md-0 w-100">
      <div class="col-md-12 d-flex justify-content-end">
        <button
          class="btn btn-outline-secondary download-btn me-2"
          (click)="downloadYearlyStreaks()"
        >
          <i class="ti ti-file-download"></i> Download
        </button>
      </div>
    </div>
  }

  <div class="row mt-4 w-100 calendar-table">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th class="habit-column">Habits</th>
              @for (month of monthEntries; track month[0]) {
                <th>
                  {{ month[1] }}
                </th>
              }
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            @for (habit of habits(); track habit.id) {
              <tr class="align-middle">
                <td
                  class="habit-column pointer"
                  [ngStyle]="{
                    borderRight: '5px solid ' + habit.color,
                  }"
                >
                  {{ habit.name }}
                  <br />
                </td>
                @for (month of monthEntries; track monthEntries[0]) {
                  <td
                    class="pointer text-center fw-bold log-nums"
                    [ngStyle]="{
                      color: habitLogsByYear()?.[month[0]]?.[habit?.id || '']?.habit_color,
                    }"
                  >
                    {{ habitLogsByYear()?.[month[0]]?.[habit?.id || '']?.logs_count || 0 }}
                  </td>
                }
                <td class="total-logs text-primary">
                  {{ habitLogsByYear()?.[currentYear()]?.[habit?.id || '']?.logs_count || 0 }}
                </td>
              </tr>
            }
            @if (!habits()) {
              <td [colSpan]="monthEntries.length + 2" class="text-center">Loading...</td>
            }
            @if (habits()?.length === 0) {
              <tr>
                <td [colSpan]="monthEntries.length + 2" class="text-center">
                  <i class="ti ti-sad"></i> No habits yet.
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
