  .download-btn {
    font-size: 12px;
  }
  
  .calendar-table {
    margin-top: 1.5rem;

    th,
    td {
      text-align: center;
    }

    th > div {
      display: flex;
      flex-direction: column;
      align-items: center;

      .fw-bold {
        font-weight: 600;
      }

      .text-muted {
        font-size: 0.75rem;
      }
    }

    .habit-column {
      width: 150px;    
      max-width: 150px;
      min-width: 150px;
      position: sticky !important;
      left: 0px;
    }

    .habit-column::before {
      content: '';
      position: absolute;
      top: 0;
      left: -20px;
      width: 20px; 
      height: 100%;
      border-width: 1px;
      pointer-events: none;
      z-index: 11;
      border:none;
      background: white !important;
    }

    .habit-column::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 5px; 
      height: 100%;
      background-color: var(--border-color, white);
      pointer-events: none;
      z-index: 11;
    }

    .no-habits {
      text-align: center;
      color: #6f6362;
    }

    .log-nums{
      font-size: 14px;
      font-weight: bold;
    }

    .total-logs{
      font-size: 14px;
      font-weight: bold;
    }

    .table{
      font-size: 12px;
    }

    .no-outer-borders thead tr:first-child {
      border-top: 0 !important;
    }

    .no-outer-borders tbody tr:last-child {
      border-bottom: 0 !important;
    }

    .no-outer-borders th:first-child,
    .no-outer-borders td:first-child {
      border-left: 0 !important;
    }

    .no-outer-borders th:last-child,
    .no-outer-borders td:last-child {
      border-right: 0 !important;
    }
  }
