/* You can add global styles to this file, and also import other style files */
$primary: #4e74ff;
$secondary: #6f6362;
$success: #3fd87e;
$danger: #f65b53;
$warning: #f7b84f;
$info: #243984;
$light: #f8f9fa;
$dark: #343a40;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "danger": $danger,
  "warning": $warning,
  "info": $info,
  "light": $light,
  "dark": $dark,
);

@use "bootstrap/scss/bootstrap";
@use '@ngxpert/hot-toast/src/styles/styles.scss';
@use "sass:color";


@font-face {
    font-family: 'Roboto';
    src: url('../public/fonts/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
    font-display: swap;
    font-weight: 100 900;
    font-style: normal;
}

body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: $light;
  opacity: 1;

  &:hover {
    background-color: color.scale($primary, $lightness: -5%);
    border-color: color.scale($primary, $lightness: -5%);
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($primary, 0.5);
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    background-color: color.scale($primary, $lightness: -10%);
    border-color: color.scale($primary, $lightness: -10%);
    color: $light;
  }
}

.btn-outline-primary {
  color: $primary;
  border-color: $primary;
  opacity: 1;

  &:hover {
    background-color: $primary;
    color: $light;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($primary, 0.5);
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    background-color: $primary;
    border-color: $primary;
    color: $light;
  }
}