/* You can add global styles to this file, and also import other style files */
@use '../public/styles/colors.scss' as *;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "danger": $danger,
  "warning": $warning,
  "info": $info,
  "light": $light,
  "dark": $dark,
);

@use "bootstrap/scss/bootstrap";
@use '@ngxpert/hot-toast/src/styles/styles.scss';
@use "sass:color";


@font-face {
    font-family: 'Roboto';
    src: url('../public/fonts/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
    font-display: swap;
    font-weight: 100 900;
    font-style: normal;
}

body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.btn {
  border-radius: 4px;
  font-size: 16px;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: $light;
  opacity: 1;

  &:hover {
    background-color: color.scale($primary, $lightness: -5%);
    border-color: color.scale($primary, $lightness: -5%);
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($primary, 0.5);
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    background-color: color.scale($primary, $lightness: -10%);
    border-color: color.scale($primary, $lightness: -10%);
    color: $light;
  }
}

.btn-outline-primary {
  color: $primary;
  border-color: $primary;
  opacity: 1;

  &:hover {
    background-color: $primary;
    color: $light;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($primary, 0.5);
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    background-color: $primary;
    border-color: $primary;
    color: $light;
  }
}

.form-floating > .form-control {
  height: 38px !important;     
  padding: 8px 12px 0px 12px !important;  
  font-size: 0.9rem !important;   
  border-radius: 6px !important;  
  background-color: #fafafa !important; 
}

.form-floating {
  > .form-control {
    height: 38px !important;   
    padding: 10px 12px 0px 12px !important;  
    font-size: 0.9rem !important;
    border-radius: 6px !important;
    background-color: #fafafa !important;
  }

  > label {
    font-size: 0.85rem !important;
    color: #8e8e8e !important;
    padding-left: 14px !important;
    transform: translateY(0) scale(1) !important;
    pointer-events: none;
    transition: 0.2s ease all;
  }

  > .form-control:focus + label,
  > .form-control:not(:placeholder-shown) + label {
    transform: translateY(-0.4rem) scale(0.8) !important; 
    color: #262626 !important;
  }
}

.form-group textarea {
    background-color: #fafafa !important; 
    padding: 8px 12px !important;  
}

.pointer {
  cursor: pointer !important;
}