.add-note-btn {
    font-size: 12px;
}

.note-board {
    background-color: #5A5A5A;
    padding: 20px 40px;
    border-radius: 0.5rem;
    min-height: 250px;
    border : 5px solid pink;
}

.note {
    background: #FFF1A8;
    border-radius: 10px;
    padding: 20px;

    p {
        font-size: 18px;
    }

    i {
        font-size: 18px !important;
        cursor: pointer;
    }
}


@media (max-width: 768px) {
    .note-board {
        padding: 20px 10px !important;
        min-height: 150px !important;
    }

    .note {
        p {
            font-size: 16px !important;
        }
    }
}
